.profileUserMenu{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #FFF2FF;
    z-index: -2;
}
.slideProfile{
    margin-top: 250px;
    margin-bottom: 200px;
}

.inputfile {
	display: none;
}

.inputfile + label {
    font-size: 16px;
    font-weight: 200;
    color: black;
    background-color: white;
    display: inline-block;
    cursor:pointer;
}

label {
    margin-left: 60px;
    margin-top: 20px;
    padding: 12px;
    border: 1px solid rgb(226, 169, 228);
    border-radius: 8px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #FFF2FF;
}

.aboluteProfile{
    display: flex;
    position: absolute;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 12px;
    color: #868686;
}

.SquareBack{
    position: absolute;
    width: 900px;
    margin-top: 170px;
    height: 500px;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid rgb(175, 173, 173);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(50, 50, 51, 0.3)
}

.profileUserMenu:hover{
    cursor: auto;
}

.imgSizeProfile{
    border-radius: 50%;
    width: 250px;
}

.imgProfile{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(187, 187, 187);
}

.slideProfile{
    width: 700px;
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    z-index: 1;
}

.profileForm{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.buttonProfile{
    margin-top: 250px;
    margin-left: 100px;
    margin-bottom: 20px;
    position: absolute;
}

.fileInput{

}

.profileUserMenu form input{
    position: relative;
    border: none;
    height: 35px;
    border-bottom: 2px solid #fad7fa;
    background-color: transparent;
}
.profileUserMenu form input:focus{
    position: relative;
    outline: none;
    background-color: #fad7fa;
    border-radius: 8px;
}

.nameSurnameProfiile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameSurnameProfiile h3{
    margin-left: 5px;
}

.profileFormDivide{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

@media(max-width:930px){
    .slideProfile{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 210px;
    }

    .profileForm {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        width: 350px;
    }

    label {
        margin-left: 45px;
        margin-top: 20px;
        padding: 12px;
        border: 1px solid rgb(226, 169, 228);
        border-radius: 8px;
    }

    .SquareBack{
        position: absolute;
        width: 450px;
        margin-top: 160px;
        height: 750px;
        background-color: white;
        z-index: 1;
        border-radius: 20px;
        border: 1px solid rgb(175, 173, 173);
        box-shadow: 0 0.2rem 0.4rem 0 rgba(50, 50, 51, 0.3)
    }
}

@media(max-width: 490px){
    .SquareBack{
        width: 390px;
        margin-top: 130px;
    }

    .slideProfile{
        margin-top: 180px;
    }

    .profileForm{
        margin-left: 30px;
    }
    .buttonProfile{
        margin-left: 70px;
    }
    .profileUserMenu form input {
        width: 80%;
    }
}

@media(max-width: 410px){
    .SquareBack{
        width: 350px;
        margin-top: 130px;
    }
    .profileForm{
        padding-left: 60px;
    }
    .profileFormDivide{
        width: 150px;
        margin-right: 10px;
    }
    .profileForm{
        margin-left: 0px;
    }
}