.footer{
    position: relative;
    display: flex;
    justify-content: center;
}

.widthFooter{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1%;
    height: 10%;
    width: 75%;
}

.widthFooter p{
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.widthFooter h1{
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contactEmail{
    display: flex;
    margin-top: 2%;
}

.contactEmail p{
    margin-left: 20px;
}

.contact h1{
    font-weight: 300;
}

.contactTelephone{
    display: flex;
    margin-top: 15px;
}

.contactTelephone p{
    margin-left: 20px;
}

.imageFooter{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 25px;
}

.ubication h1{
    font-weight: 300;
}

.followUs{
    margin-top: 50px;
}

.icon {
    margin-right: 20px;
}

.icon:hover{
    cursor: pointer;
}

.footerlinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.fl{
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}