.footer{
    position: relative;
    display: flex;
    justify-content: center;
}

.widthFooter{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 70px;
    height: 10%;
    width: 75%;
}

.widthFooter p{
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contactEmail{
    display: flex;
    margin-top: 2%;
}

.contactEmail p{
    margin-left: 20px;
}

.contact h1{
    font-weight: 300;
}

.contactTelephone{
    display: flex;
    margin-top: 15px;
}

.contactTelephone p{
    margin-left: 20px;
}

.imageFooter{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    margin-top: 25px;
}

.ubication h1{
    font-weight: 300;
}

.followUs{
    margin-top: 50px;
}

.followUs h1{
    font-weight: 300;
}

.icon {
    margin-right: 20px;
}

.icon:hover{
    cursor: pointer;
}

.footerlinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.coandfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.responsivefoot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.fl{
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}
@media(max-width:1700px){

    .imageFooter{
        margin-left: -10%;
    }
}
@media(max-width:1040px){
    .widthFooter{
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coandfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }
    .contact{
        margin-right: 100px;
        width: 255px;
        margin-left: 0px;
    }
    .followUs{
        margin-right: 0px;
        width: 255px;
        margin-left: 0px;
    }


    .followUs{
        margin-top: 0px;
    }

    .responsivefoot{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }
    .imageFooter{
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        margin-top: 0px;
        margin-left: 0px;
    }
}


@media(max-width:830px){
    .widthFooter{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:830px){
    .widthFooter{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media(max-width:610px){

    .footer{
        display: flex;
        justify-content: center;
    }

    .widthFooter{
        align-items: center;
        justify-content: center;
    }

    .coandfo{
        display: flex;
        flex-direction: column;
        width: 255px;
        margin-bottom: 2%;
    }

    .contact{
        width: 255px;
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
    }

    .contact h1{
        display: flex;
        justify-content: center;
    }

    .contactEmail{
        display: flex;
        justify-content: center;
    }

    .contactTelephone{
        display: flex;
        justify-content: center;
    }

    .followUs{
        margin-top: 0px;
    }

    .followUs h1{
        display: flex;
        justify-content: center;
    }

    .linksFooter {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .responsivefoot{
        display: flex;
        flex-direction: column;
        width: 255px;
    }

    .ubication{
        display: flex;
        flex-direction: column;
        order: 0;
        width: 255px;
    }

    .ubication h1{
        display: flex;
        justify-content: center;
    }

    .ubication iframe{
        display: flex;
        margin-left: 20px;
    }
    
    
    .imageFooter{
        order: 1;
       width: 255px;
       margin-right: 0px;
    }

    .linksFooter a{
        all: unset;
    }
}