.titleProducts{
    background-image: url('../../../assets/productsBack.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 450px;
}

.centerTitleProducts{
    display: flex;
    justify-content: center;
}

.titleProductsText{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 300px;
    width: 75%;
    justify-content: left;
    color: white;
}

.centerProductes{
    display: flex;
    justify-content: center;
}

.widthProductes{
    width: 75%;
}

.lineProducts{
    height: 2px;
    width: 50px;
    background-color: white;
    margin-top: 65px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleProductsText h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleProductsText h3{
    font-size: 1.5rem;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1930px) {
    .titleProductsText {
        width: 75%;
    }
}

@media (max-width: 1350px) {
    .titleProductsText {
        width: 85%;
    }
}

.totalWidth{
    display: flex;
    justify-content: center;
}

.sixProductes{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 50px;
}

.producte img{
    object-fit: contain;
}

.producte:hover{
    cursor: pointer;
}

.producte h3{
    text-align: center;
    font-weight: 200;
    font-size: medium;
}

.producte{
    display: flex;
    flex-basis: 33.33%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    margin-bottom: 120px;
}

.no-products-text{
    justify-content: center;
    font-size:large;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width:790px){

    .titleProducts{
        background-image: url('../../../assets/productsBack.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        height: 350px;
    }
    .titleProductsText {
        margin-top: 130px;
        display: flex;
        flex-direction: column;
    }
    .titleProductsText h3{
        margin-top: 0px;
    }

    .lineProducts{
        display: none;
    }
}

@media(max-width: 820px){
    .totalWidth{
        display: flex;
        justify-content: center;
    }
    
    .sixProductes{
        justify-content: center;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .producte {
        margin-bottom: 50px;
    }
}