.productMid{
    display: flex;
    justify-content: center;
}

.inputC{
    position: relative;
    border: none;
    height: 35px;
    width: 90%;
    border-bottom: 2px solid #fad7fa;
    background-color: transparent;
}

.inputHalf{
    margin-top: 10px;
    margin-left: 40px;
    flex: 1;
}

.inputC:focus{
    position: relative;
    outline: none;
    background-color: #fad7fa;
    border-radius: 8px;
}


.prodcutsC{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.prodcutsC h2{
    margin-right: 70px;
    display: flex;
}

.prodcutsC h2:hover{
    cursor: pointer;
}

.coAndca{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.colections{
    display: flex;
    flex-direction: column;
}

.categories{
    display: flex;
    flex-direction: column;
}

.colections h2{
    display: flex;
    flex-direction: row;
}

.margins{
    position: absolute;
    width: 220px;
    height: 300px;
    background-color: white;
    border: 1px black solid;
    border-radius: 15px;
    margin-top: 60px;
    z-index: 3;
}

.colectionsOpened{
    position: absolute;
    width: 210px;
    height: 300px;
    outline: none;
    overflow: hidden;
    overflow-y: scroll;
}

.colectionsOpened::-webkit-scrollbar {
    display: block;
    width: 2px;           
}
  
.colectionsOpened::-webkit-scrollbar-track {
    background: transparent;    
}

.colectionsOpened::-webkit-scrollbar-thumb {
    background-color: grey;    
    border-radius: 20px;     
}

.colectionsOpened::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 15px; 
}

.colectionsOpened::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 15px;
}

.colectionsOpened p{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
   
}

.lineColections{
    display: flex;
    width: 80%;
    height: 1px;
    background-color: black;
    margin-left: 15px;
    margin-top: 15px;
}

.singleCollection{
    margin-left: 15px;
    margin-top: 15px;
}

.singleCollection:hover{
    cursor: pointer;
}

.margin{
    margin-bottom: 20px;
}

@media(max-width: 1050px){
    .prodcutsC {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .inputHalf {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: left;
        margin-top: 25px;
    }
}

@media(max-width:570px){
    .widthProductes {
        width: 90%;
    }
    .prodcutsC {
        margin-top: 15px;
    }
}

@media(max-width:515px){
    .coAndca {
        flex-direction: column;
    }
}