.titleProducts{
    background-image: url('../../assets/productsBack.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 450px;
}

.titleProductsText{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 300px;
    width: 55%;
    justify-content: center;
    color: white;
}

.productMid{
    display: flex;
    justify-content: center;
}

.inputC{
    position: relative;
    border: none;
    height: 35px;
    width: 90%;
    border-bottom: 2px solid #fad7fa;
    background-color: transparent;
}

.inputHalf{
    margin-top: 10px;
    margin-left: 40px;
    flex: 1;
}

.inputC:focus{
    position: relative;
    outline: none;
    background-color: #fad7fa;
    border-radius: 8px;
}

.lineProducts{
    height: 2px;
    width: 50px;
    background-color: white;
    margin-top: 65px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleProductsText h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleProductsText h3{
    font-size: 1.5rem;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1930px) {
    .titleProductsText {
        width: 65%;
    }
}

@media (max-width: 1350px) {
    .titleProductsText {
        width: 85%;
    }
}

.prodcutsC{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.prodcutsC h2{
    margin-right: 70px;
    display: flex;
}

.prodcutsC h2:hover{
    cursor: pointer;
}

.coAndca{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.totalWidth{
    margin-top: 90px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
}

.sixProductes{
    display: flex;
    position: relative;
    width: 75%;
    flex-wrap: wrap;
}

.producte img{
    object-fit: contain;
}

.producte:hover{
    cursor: pointer;
}

.producte h3{
    text-align: center;
    font-weight: 200;
    font-size: medium;
}

.producte{
    display: flex;
    flex-basis: 33.33%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    margin-bottom: 120px;
}