.servicesMain {
    background-image: url('../../assets/ServeisBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

.service {
    margin-bottom: 10%;
}

.marginTitleService{
    display: flex;
    flex-direction: row;
}

.servicesWidth {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.serviceComponents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
}

.titleServicesText{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 300px;
    width: 75%;
    justify-content: left;
    color: white;
}

.titleServicesText h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleServicesText h3{
    font-size: 1.5rem;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.serviceComponent {
    height: 60%;
    width: 32%;
    margin-bottom: 2%;
    display: flex;
    position: relative;
    border-radius: 10px;

}

.serviceComponent:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.serviceTitle {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.serviceComponent h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 70%;
}

.servImage {
    display: flex;
    width: 100%;
    justify-content: center;
}

.serviceImage {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.lineService{
    height: 2px;
    width: 50px;
    background-color: white;
    margin-top: 65px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (min-width: 1170px) {
    .serviceComponent h3 {
        font-size: 25px;
    }
}

@media (min-width: 1900px) {
    .serviceComponent h3 {
        font-size: 35px;
    }
}

@media (max-width: 850px) {
    .serviceComponent h3 {
        width: 100%;
    }

    .titleServicesText h3 {
        margin-top: 0px;
    }

    .marginTitleService{
        display: flex;
        flex-direction: column;
        margin-top: -80px;
    }

    .lineService{
        display: none;
    }
}

@media (max-width: 750px) {
    .serviceComponent {
        height:38%;
        width: 45%;
        margin-bottom: 2%;
        display: flex;
        position: relative;
        border-radius: 10px;
    }
    .service {
        margin-bottom: 20%;
    }
}

@media (max-width: 490px) {
    .serviceComponent {
        height: 85px;
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        position: relative;
        border-radius: 10px;
    }
}