.loginlogout{
    position: relative;
    margin-top: 25px;
    text-align: right;
    display:flex;
}

.rightside{
    position: absolute;
    right: 30px;
}

.leftside{
    position: absolute;
    right: 120px
}

.registerbutton{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
}

.home{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
    margin-right: 35px;
}

.homeNow{
    text-decoration: none;
    color: black;
    font-size: medium;
    position: relative;
    margin-right: 35px;
}

.productes{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
    margin-right: 35px;
}

.productesNow{
    text-decoration: none;
    color: black;
    font-size: medium;
    position: relative;
    margin-right: 35px;
}

.serveis{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
    margin-right: 35px;
}

.horaris{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
    margin-right: 35px;
}

.line{
    width: 2px;
    height: 40px;
    background-color: #c5bcbc;
    margin-top: -5px;
    position: absolute;
    right: 120px;
    margin-top: -10px;
}

.carret{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
    margin-right: 25px;
}

.profile{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
    margin-right: 30px;
}

.logout{
    text-decoration: none;
    color: #9B9292;
    font-size: medium;
    position: relative;
}

.register:hover{
    cursor:pointer;
}

.profile:hover{
    cursor:pointer;
}

.logout:hover{
    cursor:pointer;
}