.registerFormImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100vh;
  position: relative;
  background-image: url(../../assets/loginBack.webp);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.imageRegister{
  position: fixed;
  width: 1050px;
  display: flex;
  justify-content: flex-end;
}

.register{
  position: fixed;
  width: 890px;
  text-align: left;
  z-index: 8;
}

.alreadyHasAccount{
margin-top: 50px;
}

.register h1{
font-size: 3rem;
}

.register:hover{
cursor:auto;
}

.imgForm{
  cursor: pointer;
  width: 80px;
}

.register input{
border: none;
height: 35px;
border-bottom: 2px solid #fad7fa;
background-color: transparent;
}

.register input:focus{
outline: none;
background-color: #fad7fa;
border-radius: 8px;
}

.firstline{
display: flex;
flex-direction: row;
}

.userName{
  margin-right: 15px;
}

.userMail{
margin-top: 30px;
}

.mailError{
  display: flex;
}

.mailError p{
  margin-left: 50px;
  margin-top: 20px;
}

.userMail input{
  width: 346px;
}

.button-52 {
font-size: 16px;
font-weight: 200;
outline: 0;
border: 1px solid rgb(226, 169, 228);
border-radius: 8px;
cursor: pointer;
position: relative;
background-color: rgba(0, 0, 0, 0);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin-top: 30px;
}

.button-52:after {
content: "";
background-color:  #fad7fa;
width: 100%;
z-index: -1;
position: absolute;
border-radius: 8px;
height: 100%;
top: 7px;
left: 7px;
transition: 0.2s;
}

.button-52:hover:after {
top: 0px;
left: 0px;
}

@media (min-width: 10px) {
.button-52 {
  padding: 13px 20px 13px;
}
}

.sqaure{
  border-radius: 20px;
  position: absolute;
  width: 1050px;
  height: 670px;
  background-color: rgba(255, 255, 255, 0.493); /* Adjust the last value (0.5) for transparency */
  backdrop-filter: blur(8px); /* Optional: Add a blur effect */
}


@media (max-width: 1080px) {
  .register{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imageRegister{
    margin-right: 70px;
  }

  .sqaure{
      width: 970px;
  }
}

@media (max-width: 990px) {
  .imageRegister{
      display: none;
  }
  .register {
    position: fixed;
    width: auto;
    text-align: left;
    z-index: 8;
}
  .sqaure{
      width: 500px;
  }
}

@media (max-width: 500px) {
  .sqaure{
      width: auto;
  }
  .register{
    margin-left: 20px;
  }
}