.cartcomponent {
  background-color: #FFF2FF;
  height: 80vh;
  font-weight: lighter;
}

.begin-cart-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-cart {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  margin-left: 40px;
}

.resume {
  display: flex;
  flex-direction: column;
  flex: 30%;
  position: sticky;
}

.cartWhiteBack {
  background-color: white;
  width: 95%;
  height: 350px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(50, 50, 51, 0.3)
}

.resumeWhiteBack {
  background-color: white;
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: left;
}

.titleCart {
  display: flex;
  width: 90%;
  text-align: left;
  margin-top: 150px;
}

.title-resume {
  display: flex;
  width: 90%;
  text-align: left;
  margin-top: 150px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart img {
  margin-top: 8px;
}

.empty-cart button {
  margin-top: 10px;
  color: #9B9292;
  font-size: 1rem;
}

.button-4 {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid rgb(250, 227, 250);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: rgb(255, 248, 255);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.resume-cart {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 15px;
  width: 100%;
}

.sendingProducts {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  border-bottom: 1px solid #EDEFF2;
}

.calculateSend {
  width: 100%;
  display: flex;
  justify-content: right;
  font-weight: lighter;
  color: #4E5D6B;
}

.totalCart {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  border-bottom: 1px solid #EDEFF2;
  align-items: center;
}


.subtotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid #EDEFF2;
}

.nothing {
  display: flex;
  width: 100%;
  justify-content: right;
}

.nothingTotal {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  font-weight: bold;
}

.total {
  font-size: 18px;
  font-weight: bold;
}

.iva {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2%;
  width: 120px;
}

.buttonSummary {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.button-5 {
  appearance: none;
  width: 60%;
  background-color: #ffffff;
  border: 2px solid rgb(250, 227, 250);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #9B9292;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-5:hover {
  background-color: rgb(255, 248, 255);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-6 {
  appearance: none;
  width: 60%;
  background-color: #ffffff;
  border: 2px solid rgb(250, 227, 250);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #9B9292;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-6:hover {
  background-color: rgb(255, 248, 255);
  text-decoration: none;
  transition-duration: 0.1s;
  cursor: not-allowed;
}

.imageCart {
  object-fit: contain;
}

.productInCart {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  width: 100%;
  border-bottom: 1px solid #9da0a367;
}

.infoProductCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 14px;
}

.priceAndCart {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.listCart {
  width: 95%;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(50, 50, 51, 0.3);
  box-sizing: border-box;
}

.backgraundProduct {
  height: 242px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.addOrRemoveCart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plusminus {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.plusminus p {
  margin-left: 10px;
  margin-right: 10px;
}

.subtotalArticles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
}

.spaceBetweeen {
  margin-right: 10px;
}

.totalPriceTotal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

@media (max-width: 1270px) {
  .cartcomponent {
    height: auto;
  }

  .begin-cart-component {
    flex-direction: column;
  }

  .resume {
    margin-left: 40px;
  }

  .resumeWhiteBack {
    width: 95%;
    margin-bottom: 80px;
  }

  .title-resume {
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .productInCart {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 530px) {
  .infoProductCart h2 {
    font-size: 1em;
    margin-right: 20px;
  }

  .my-cart {
    margin-left: 20px;
  }

  .resume {
    margin-left: 20px;
  }

  .priceAndCart {

    margin-top: 5px;
  }

  .infoProductCart {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-size: 14px;
  }

  .productInCart {
    margin-left: 0;
    margin-right: 0;
  }

  .subPrice {
    position: absolute;
    margin-top: 70px;
  }

  .infoProductCart {
    margin-top: -50px;
  }
}

@media (max-width: 415px) {
  .my-cart {
    margin-left: 20px;
  }

  .resume {
    margin-left: 20px;
  }

  .addOrRemoveCart {
    margin-left: -22px;
    position: absolute;
    margin-top: 28px;
  }

  .infoProductCart {
    margin-top: -50px;
  }

  .calculateSend {
    margin-left: 20px;
  }

}